/**/nb-configuration.xml
/web/jsf/hello1/target/
/web/servlet/hello2/target/
/web/jsf/guessnumber-jsf/target/
/web/jsf/hello1-rlc/target/
/web/jsf/reservation/target/
/web/jsf/bookmarks/target/
/web/jsf/ajaxguessnumber/target/