/**/nb-configuration.xml
/web/jsf/hello1/target/
/web/servlet/hello2/target/
/web/jsf/guessnumber-jsf/target/
/web/jsf/hello1-rlc/target/
/web/jsf/reservation/target/
/web/jsf/bookmarks/target/
/web/jsf/ajaxguessnumber/target/
/web/jsf/compositecomponentexample/target/
/web/jsf/simple-flow/target/
/web/jsf/checkout-module/target/
/web/servlet/mood/target/
/web/servlet/fileupload/target/
/web/servlet/nunaitetf/target/
/web/websocket/nunaitetf2/target/
/web/websocket/websocketbot/target/
/web/jsonp/jsonpmodel/target/
/web/jsonp/jsonpstreaming/target/
/cdi/simplegreeting/target/
/cdi/guessnumber-cdi/target/
/cdi/encoder/target/
/cdi/producermethods/target/
/cdi/producerfields/target/
/cdi/billpayment/target/
/cdi/decorators/target/
/jaxws/helloservice-war/target/
/jaxws/hello-appclient/target/
/jaxws/hello-webclient/target/
/jaxrs/hello/target/
/jaxrs/rsvp/target/
/jaxrs/customer/target/
/ejb/converter/target/
/ejb/cart/cart-common/target/
/ejb/cart/cart-ejb/target/
/ejb/cart/cart-appclient/target/
/ejb/cart/cart-ear/target/
/ejb/counter/target/
/ejb/helloservice/target/
/ejb/timersession/target/
/ejb/standalone/nbproject/
/ejb/standalone/target/
/ejb/async/async-smtpd/target/
/ejb/async/async-war/target/
/ejb/interceptor/target/
/persistence/order/target/
/persistence/roster/roster-common/target/
/persistence/roster/roster-ejb/target/
/persistence/roster/roster-ear/target/
/persistence/roster/roster-appclient/target/
/persistence/address-book/target/
/jms/simple/producer/target/
/jms/simple/synchconsumer/target/
/jms/simple/asynchconsumer/target/
/jms/simple/messagebrowser/target/
/jms/simple/clientackconsumer/target/
/jms/durablesubscriptionexample/durableconsumer/target/
/jms/durablesubscriptionexample/unsubscriber/target/
/jms/transactedexample/genericsupplier/target/
/jms/transactedexample/retailer/target/
/jms/transactedexample/vendor/target/
/jms/shared/sharedconsumer/target/
/jms/shared/shareddurableconsumer/target/
/jms/websimplemessage/target/
/jms/simplemessage/simplemessage-ejb/target/
/jms/simplemessage/simplemessage-appclient/target/
/jms/simplemessage/simplemessage-ear/target/
/jms/clientsessionmdb/clientsessionmdb-ejb/target/
/jms/clientsessionmdb/clientsessionmdb/target/
/jms/clientsessionmdb/clientsessionmdb-ear/target/
/jms/clientmdbentity/clientmdbentity-ejb/target/
/jms/clientmdbentity/clientmdbentity-appclient/target/
/jms/clientmdbentity/clientmdbentity-ear/target/
/security/hello2-basicauth/target/
/security/hello1-formauth/target/
/security/cart-secure/cart-secure-common/target/
/security/cart-secure/cart-secure-ejb/target/
/security/cart-secure/cart-secure-appclient/target/
/security/cart-secure/cart-secure-ear/target/
/security/converter-secure/target/
/config/