/**/nb-configuration.xml
/web/jsf/hello1/target/
/web/servlet/hello2/target/
/web/jsf/guessnumber-jsf/target/
/web/jsf/hello1-rlc/target/
/web/jsf/reservation/target/
/web/jsf/bookmarks/target/
/web/jsf/ajaxguessnumber/target/
/web/jsf/compositecomponentexample/target/
/web/jsf/simple-flow/target/
/web/jsf/checkout-module/target/
/web/servlet/mood/target/
/web/servlet/fileupload/target/
/web/servlet/nunaitetf/target/
/web/websocket/nunaitetf2/target/
/web/websocket/websocketbot/target/
/web/jsonp/jsonpmodel/target/
/web/jsonp/jsonpstreaming/target/
/cdi/simplegreeting/target/
/cdi/guessnumber-cdi/target/
/cdi/encoder/target/